# -- darbiniai R formatai
*.Rproj.user
*.Rhistory
*.RData
*.Rproj
*.sqlite

# -- darbines direktorijos
.Rproj.user

# -- duomenys ir exceliniai failai nereikalingi
*.xlsx
*.docx
Country.id.csv
Category.id.csv